*.txt
*.json
*.cmake
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode

#plots
*.pdf
*.png

#help files
*.csv

#docs files
*.puml
.Rproj.user

#some test directories
experiments/

# Executables
*.exe
*.out
*.app
test/src/test_multithreading/test_threadpool
test/src/test_multithreading/test_performance_hold/test_deque_pop_back
test/src/test_multithreading/test_performance_hold/test_deque_pop_back_multi
test/src/test_multithreading/test_performance_hold/test_deque_pop_front
test/src/test_multithreading/test_performance_hold/test_deque_pop_front_multi
test/src/test_multithreading/test_performance_hold/test_deque_pop_push_rand
test/src/test_multithreading/test_performance_hold/test_deque_push_back
test/src/test_multithreading/test_performance_hold/test_deque_push_back_multi
test/src/test_multithreading/test_performance_hold/test_deque_push_front
test/src/test_multithreading/test_performance_hold/test_deque_push_front_multi
test/src/test_multithreading/test_performance_hold/test_worker_queue_pop_back
test/src/test_multithreading/test_performance_hold/test_worker_queue_pop_back_multi
test/src/test_multithreading/test_performance_hold/test_worker_queue_pop_front
test/src/test_multithreading/test_performance_hold/test_worker_queue_pop_front_multi
test/src/test_multithreading/test_performance_hold/test_worker_queue_pop_push_rand
test/src/test_multithreading/test_performance_hold/test_worker_queue_push_back
test/src/test_multithreading/test_performance_hold/test_worker_queue_push_back_multi
test/src/test_multithreading/test_performance_hold/test_worker_queue_push_front
test/src/test_multithreading/test_performance_hold/test_worker_queue_push_front_multi
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_pop_back
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_pop_back_multi
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_pop_back_multi_nowait
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_pop_back_nowait
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_push_front
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_push_front_multi
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_push_front_multi_nowait
test/src/test_multithreading/test_performance_hold_wait/test_worker_queue_push_front_nowait
test/src/test_multithreading/test_performance_relax/test_deque_pop_back
test/src/test_multithreading/test_performance_relax/test_deque_pop_back_multi
test/src/test_multithreading/test_performance_relax/test_deque_pop_front
test/src/test_multithreading/test_performance_relax/test_deque_pop_front_multi
test/src/test_multithreading/test_performance_relax/test_deque_pop_push_rand
test/src/test_multithreading/test_performance_relax/test_deque_push_back
test/src/test_multithreading/test_performance_relax/test_deque_push_back_multi
test/src/test_multithreading/test_performance_relax/test_deque_push_front
test/src/test_multithreading/test_performance_relax/test_deque_push_front_multi
test/src/test_multithreading/test_performance_relax/test_worker_queue_pop_back
test/src/test_multithreading/test_performance_relax/test_worker_queue_pop_back_multi
test/src/test_multithreading/test_performance_relax/test_worker_queue_pop_front
test/src/test_multithreading/test_performance_relax/test_worker_queue_pop_front_multi
test/src/test_multithreading/test_performance_relax/test_worker_queue_pop_push_rand
test/src/test_multithreading/test_performance_relax/test_worker_queue_push_back
test/src/test_multithreading/test_performance_relax/test_worker_queue_push_back_multi
test/src/test_multithreading/test_performance_relax/test_worker_queue_push_front
test/src/test_multithreading/test_performance_relax/test_worker_queue_push_front_multi
