*.txt
*.json
*.cmake
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode

#plots
*.pdf
*.png

#help files
*.csv

#docs files
*.puml
.Rproj.user

#some test directories
experiments/

# Executables
*.exe
*.out
*.app
test/src/test_multithreading/test_threadpool
test/src/test_multithreading/test_constructor
test/src/test_multithreading/test_performance/test_deque_pop_front_multi
test/src/test_multithreading/test_performance/test_deque_pop_front
test/src/test_multithreading/test_performance/test_deque_pop_back_multi
test/src/test_multithreading/test_performance/test_deque_pop_back
test/src/test_multithreading/test_performance/test_deque_pop_push_rand
test/src/test_multithreading/test_performance/test_deque_push_back
test/src/test_multithreading/test_performance/test_deque_push_back_multi
test/src/test_multithreading/test_performance/test_deque_push_front
test/src/test_multithreading/test_performance/test_deque_push_front_multi
test/src/test_multithreading/test_performance/test_hold_pop_back
test/src/test_multithreading/test_performance/test_hold_pop_back_multi
test/src/test_multithreading/test_performance/test_hold_pop_front
test/src/test_multithreading/test_performance/test_hold_pop_front_multi
test/src/test_multithreading/test_performance/test_hold_pop_push_rand
test/src/test_multithreading/test_performance/test_hold_push_back_multi
test/src/test_multithreading/test_performance/test_hold_push_back
test/src/test_multithreading/test_performance/test_hold_push_front
test/src/test_multithreading/test_performance/test_hold_push_front_multi
test/src/test_multithreading/test_performance/test_hold_wait_pop_back_multi
test/src/test_multithreading/test_performance/test_hold_wait_pop_front_multi
test/src/test_multithreading/test_performance/test_hold_wait_push_back_multi
test/src/test_multithreading/test_performance/test_hold_wait_push_front_multi
test/src/test_multithreading/test_performance/test_relax_pop_back
test/src/test_multithreading/test_performance/test_relax_pop_back_multi
test/src/test_multithreading/test_performance/test_relax_pop_front
test/src/test_multithreading/test_performance/test_relax_pop_front_multi
test/src/test_multithreading/test_performance/test_relax_pop_push_rand
test/src/test_multithreading/test_performance/test_relax_push_back
test/src/test_multithreading/test_performance/test_relax_push_back_multi
test/src/test_multithreading/test_performance/test_relax_push_front
test/src/test_multithreading/test_performance/test_relax_push_front_multi
test/src/test_multithreading/test_performance_threadpool/test_performance_threadpool
test/src/test_multithreading/test_performance_threadpool/test_threadpool_steal
test/src/test_multithreading/test_performance_threadpool/test_threadpool_steal_send_bilanciato
test/src/test_multithreading/test_performance_threadpool/test_threadpool_steal_send_sbilanciato
test/src/test_multithreading/test_performance_threadpool/test_performance_threadpool_random
test/src/test_multithreading/test_performance_threadpool/test_performance_threadpool_mostbusy
test/src/test_multithreading/test_performance_threadpool/test_threadpool_steal_send_sbilanciato_random
test/src/test_multithreading/test_performance_threadpool/test_threadpool_steal_send_sbilanciato_mostbusy
test/src/test_multithreading/test_performance_threadpool/test_parallel_for
test/src/test_multithreading/test_Threadpool_test/test_reduce
test/src/test_multithreading/test_grid_search_parallel/test_assign_to
test/src/test_multithreading/test_grid_search_parallel/test_optimization
